:root{
    --navBackground: chartreuse;
    --CTAColor: SpringGreen;
    --navFontColor: sienna;
    --navFontSize: 1.5em;
}
$contactBackground: seaGreen;
$contactFontColor: white;
$contactShadowColor: #ccc;
