/*header and footer specific styling here*/
header{
  position:fixed;
  top:0;
  left: 0;
  height: 60px;
  display: block;
  width: 100%;
}
h1, h2, h3{
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}
header, footer{
  background: url('../img/dark_embroidery.png') repeat rgb(0,0,0);
  color: rgb(222, 158, 7);
  font-family: Tahoma, Geneva, sans-serif;
}

/*section styling*/
main>section{
  min-height: 800px;
  padding-bottom: 20px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  align-items:baseline;
}

nav ul li{
  display: inline-block;
  /*width: 20%*/
  /*border: 1px solid red;*/
}
nav ul li a{
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(222, 158, 36)
}
.rest_name a{
  font-size: 2em;
}
/*body specific styling here*/
main{
  margin:0 0 0 0;
}
main section>h1{
  padding: 65px 0 0 0;
}

/*landing specific styles here*/
#landing, #contact{
  background: url('../img/vintage-concrete.png') repeat;
}
#landing figure{
  margin: 0 auto;
  width: 90%;
}
#landing figure img{
  display: block;
  box-shadow: 5px 5px 2px #666;
  margin: 0 0 20px 0;
}
#landing figcaption{
  margin: 0 0 20px 0;
  font-size: 1.7em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#landing figure img{
  border-radius: 35px;
  display: block;
  width: 60%;
  margin: 10px auto 20px;

}
#landing .cta{
  margin: 0 auto;
  width: 90%;
}
#landing .cta>a{
  display: inline-block;
  height: 100px;
  background: rgb(55,55,55);
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgb(0,0,0);
  text-align: center;
}
#landing .cta>a>img{
  box-shadow: 5px 5px 2px rgba(240,240,240, 0.4);
}
#landing .cta>a>p{
  margin: 0;
}
#landing .cta{
  display: flex;
  justify-content: space-around;
}

/*menu pages*/
.menu{
  border: 1px solid black;
}
.menu h1, .menu h2, .menu h3{
  font-family: Impact, Charcoal, sans-serif;
  text-align: center;
}
.menu h1{
  font-size: 2.2em;
}
.menu ul{
  list-style:none;
  padding:0;
  margin:0 auto;
  width: 70%;
}
.menu li{
  margin-bottom: 10px;
}
.menu li h3{
  font-size: 1.7em;
  margin: 0;
  padding: 5px;
}
.menu li p{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}
.menu li p:last-child{
  background-color: rgb(240,240,240)
}
.menu h2 {
  font-size: 1.9em;
}
.menu section {
  background: rgb(150,150,150);
  box-shadow: 5px 5px 2px #888888;
  border: 1px solid black;
}
/*lunch specific style*/
#lunch {
  background: url('../img/swirl_pattern.png');
}
/*dinner specific style*/
#dinner{
  background: url('../img/upfeathers.png');
}
/* contact page styling */
#contact{
  border: 1px solid black;
}
#contact div{
  margin: 0 auto;
  width: 90%;
  background: rgba(255,255,255, 0.4);
}
#contact ul{
  list-style: none;
  padding:0;
}
#contact address{
  text-align: center;
}
#contact form{
  border: 1px solid black;
  margin: 0 auto;
  width: 50%;
}
#contact form fieldset{
  margin: 0;
  padding: 0;
  border: none;
}
#contact form input, #contact form textarea{
  display: block;
  margin: 10px auto;
  width: 95%
}
#contact form textarea{
  height: 100px;
}
/*footer styling here*/
footer {
  position: fixed;
  bottom: 0px;
  left:0;
  width: 100%;
  height: 20px;
  font-size: .9em;
}
footer p{
  margin: 2px 0 0 10px;
}
