nav{
    position: fixed;
    width: 100vw;
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        height: 40px;
        align-items: center;
        background:var(--navBackground);
        font-size: var(--navFontSize);
    }
    a{
        text-decoration:none;
        color: var(--navFontColor);
        &:hover{
            text-decoration: underline;
        }
    }
}