/*nav font size*/
$navFontSize: 1.5em;
/*landing page font sizes*/
$landingTitle: 3.5em;
$landingParagraph: 1.4em;
$ctaFont:1.2em;
/*product section font sizes*/
$productSectionTitleFont: 2.2em;
$productSectionIntroFont: 1.2em;
$productLinkFont: 1.3em;
/*contact section font sizes*/
$contactTitleFont:2.6em;
$contactDefinitionFont:1.9em;
