@import "partials/_reset.scss";
@import "mixins/_prefixing.scss";
@import "colors/_colors.scss";
@import "fonts/_fonts.scss";
@import "partials/_cta.scss";
@import "partials/_nav.scss";
@import "partials/_productLists.scss";
@import "partials/_footer.scss";

    
  /*landing page styles go below*/
  #landing{ 
    h1{
      font-size: $landingTitle;
      text-align: center;
      padding-bottom: 10px;
    }
    p{
      font-size: $landingParagraph;
      margin: 60px 20px;
    }
  }
  
  /*lets make some general styles for all 3 product sections!*/
  section{
    height: 100vh;
    padding-top: 40px;
    h2{
      font-size: $productSectionTitleFont;
      text-align: center;
      padding-bottom: 20px;
    }
    &>p.intro{
      font-size: $productSectionIntroFont;
      width: 80%;
      margin: 20px auto;
      color: rgb(255,255,255);
      padding: 20px;
      background-color: rgb(10,10,10);
    }
  }
  
  #contact{
    display:flex;
    align-items: center;
    justify-content: center;
    dl{
      background:$contactBackground;
      color: $contactFontColor;
      padding: 40px;
      @include box-shadow(5px, 5px, 5px, $contactShadowColor);
    }
    dd{
      font-size: $contactDefinitionFont;
    }
    dt{
      font-size: $contactTitleFont;
      text-decoration: underline;
      margin-bottom: 10px;
    }
    dt:nth-of-type(2){
      margin-top:60px;
    }
  }